<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>
            home
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.home.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controller.home.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>controller.home.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>controller.home.SearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.home.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.addProductAccount.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controller.home.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerController</servlet-name>
        <servlet-class>controller.managerAll.ManagerProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>controller.deleAll.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>controller.addProductAccount.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowEditProductController</servlet-name>
        <servlet-class>controller.edit.ShowEditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>controller.edit.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccountController</servlet-name>
        <servlet-class>controller.managerAll.ManagerAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>controller.deleAll.DeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInfoController</servlet-name>
        <servlet-class>controller.edit.EditInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowEditInfoController</servlet-name>
        <servlet-class>controller.edit.ShowEditInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingAccount</servlet-name>
        <servlet-class>controller.paging.PagingAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sxgiamdan</servlet-name>
        <servlet-class>controller.home.sxgiamdan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sxtangdan</servlet-name>
        <servlet-class>controller.home.sxtangdan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dele</servlet-name>
        <servlet-class>controller.deleAll.dele</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerController</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowEditProductController</servlet-name>
        <url-pattern>/showProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccountController</servlet-name>
        <url-pattern>/manageraccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/deleteaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInfoController</servlet-name>
        <url-pattern>/editinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowEditInfoController</servlet-name>
        <url-pattern>/showeditinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingAccount</servlet-name>
        <url-pattern>/pagingacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sxgiamdan</servlet-name>
        <url-pattern>/sxgiamdan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sxtangdan</servlet-name>
        <url-pattern>/sxtangdan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dele</servlet-name>
        <url-pattern>/delebypcode</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
